h1 {
  color: pink;
  font-size: 1.5rem; }

.card-courses-item {
  margin-top: 16px; }

.avartar-user {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.selectAllInCheckbox {
  width: 140px;
  margin: 0 16px; }
